*  {
    margin:0;
    padding:0;
}

html, body {height:100%;}

.rodape {
    text-align: center;
    color: rgb(243, 230, 230);
    
    position: fixed;
    bottom:0;
    width:100%;
    }

.menuPedido{
    color: yellow;
}

.botaoPedido {
position: center;
-moz-border-radius: 100px;
border-radius: 10px;
height: 170px;
line-height: 100px;
color: #FFFFFF;
font-family: sans-serif;
width: 500px;
font-size: 40px;
font-weight: 100;
padding: 40px;
text-decoration: none;
display: inline-block;
cursor: pointer;
text-align: center;
}
